<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>listado de Libros</h1>

    <form action="" method="get">
      {% csrf_token %}
      <input type="text" id="resul" name="resul" placeholder="Ingrese el texto aqui...">

      <input type="date" name="fecha1" id="fecha1">
      <input type="date" name="fecha2" id="fecha2">
      <button type="submit"> buscar </button>  
    </form>

    <ul>
    {% for l in obj %}
     
      <li>{{l.titulo}} - {{l.fecha}}</li>
        
    {% endfor %}
</ul>
</body>
</html>